<h1 class="d-flex justify-content-center">Mon panier: <span class="border-bottom border-warning border-5"><%= @cart.total %>€</span></h1>

<div class="row">
    <h1><%= "regler la mise a jour du nombre sur le panier Tag"  %></h1>
    <% @cart.orderables.each do |orderable| %>
        <% product = orderable.product %>
    
        <!--p><%#= product.title %> * <%= orderable.quantity %> = $<%= product.price %> * <%= orderable.quantity %></p-->
        <div class="col-md-8 px-5">
            <div class="d-flex justify-content-start">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <a href="<%= product_path(product) %>">
                                <%= image_tag product.thumbnail, class:"img-fluid rounded-start", style:"height:100%", alt:"..." if product.thumbnail.present? %>
                            </a>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h3 class="card-title"><%= link_to product.title, product, class:"text-dark" %></h3>
                                <h5 class="card-text"><%= orderable.quantity %> X <span class="text-warning">€<%= product.price %></span> </h5>
                                    <%= form_with(url: cart_remove_path) do |f| %>
                                        <%= f.hidden_field :id, value: orderable.id %>
                                        <%= f.submit "Annuler", class:"btn btn-outline-secondary" %>
                                    <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

</div>
<div class="p-3 bg-info bg-opacity-10 border border-dark border-start-0 ">
    <h2 class="card-text ">Total <%= @cart.total %>€</h2>
</div>


