<main style="">
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row mt-3 justify-content-center">
      <div class="col-lg-4">
        <%= image_tag("RT1-scaled.jpg", class:"rounded-circle",  width:"190", height:"190") %>   

        <h2>Apprenez où que vous soyez.</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">Voir les details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("RT1-scaled.jpg", class:"rounded-circle",  width:"190", height:"190") %>   
        <h2>Des sites web adapté à vos besoin.</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">Voir les details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("RT1-scaled.jpg", class:"rounded-circle",  width:"190", height:"190") %>   
        <h2>Une meilleur expression avec notre equipe d'Infographe.</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">Voir les details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Introduction à Linux<span class="text-muted">...</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("Introduction-to-Linux-1.jpg", class:"featurette-image img-fluid mx-auto",  width:"500", height:"500", alt:"photo") %>   
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Réseaux et Télécommunications<span class="text-muted">...</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag("RT1-scaled.jpg", class:"featurette-image img-fluid mx-auto",  width:"500", height:"500", alt:"photo") %>   
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-1">
        <h2 class="featurette-heading">Introduction à Linux<span class="text-muted">...</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5 order-md-2">
        <%= image_tag("Introduction-to-Linux-1.jpg", class:"featurette-image img-fluid mx-auto",  width:"500", height:"500", alt:"photo") %>   
      </div>
    </div>

    <hr class="featurette-divider">

    

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Réseaux et Télécommunications<span class="text-muted">...</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        <button class="btn btn-secondary col-md-4">Voir plus</button>
      </div>
      <div class="col-md-5 order-md-1">
        <%= video_tag("video (2160p)-4.mp4", class:"featurette-image img-fluid mx-auto", controls: true, volumn: true) %>   
      </div>
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>