<main style="">
  <div style="height:1%;">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("pexels-christina-morillo-1181233.jpg", width:"100%", height:"700") %>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Exemple de titre.</h1>
            <p class="opacity-75">Un text pour decrire le contenu du carousel.</p>
            <p><a class="btn btn-lg btn-danger" href="#">S'inscrire maintenant</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("pexels-pixabay-247819.jpg", width:"100%", height:"700") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-danger" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("pexels-tranmautritam.jpg", width:"100%", height:"700") %>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-danger" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" style="margin-top:2%;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("téléchargement2.jpeg", width:"200", height:"200", class:"rounded-circle") %>
        <h2 class="fw-normal">Titre 1</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-warning" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("téléchargement1.jpeg", width:"200", height:"200", class:"rounded-circle") %>
        <h2 class="fw-normal">Titre 2</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-warning" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("téléchargement2.jpeg", width:"200", height:"200", class:"rounded-circle") %>
        <h2 class="fw-normal">Titre 3</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-warning" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Introduction a linux. <span class="text-body-secondary">partie 2.</span></h2>
        <p class="lead">1991 : Linux. Un étudiant finlandais, Linus Torvalds, crée un système d’exploitation dédié à son ordinateur personnel et le nomme Linux. Il publie sa première version 0.02, sur le forum de discussion Usenet et d’autres développeurs viennent ainsi l’aider à améliorer son système. Le terme Linux est un jeu de mot entre le prénom du fondateur, Linus, et UNIX..</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("téléchargement1.jpeg", width:"500", height:"500", class:"featurette-image img-fluid mx-auto") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-1">
        <h2 class="featurette-heading fw-normal lh-1">Maintenance et Réseaux. <span class="text-body-secondary">Volume 2.</span></h2>
        <p class="lead">La maintenance du réseau informatique permet d'ajuster le réseau et sa configuration en fonction des évolutions : utilisations applicatives ou matérielles, évolution du nombre de collaborateurs, mises à jour des logiciels… L'infogérance réseau a aussi pour but d'assurer en permanence la sécurité des données..</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag("téléchargement2.jpeg", width:"500", height:"500", class:"featurette-image img-fluid mx-auto") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Architecture des ordinateurs. <span class="text-body-secondary">Version 1.</span></h2>
        <p class="lead">L'architecture des ordinateurs est une science qui permet d'étudier les différents composants internes des machines, expliquant leur construction et leurs interactions..</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("téléchargement1.jpeg", width:"500", height:"500", class:"featurette-image img-fluid mx-auto") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
