<div id="<%= dom_id cour %>" style="margin:10px">
  <p>
    <strong>Title:</strong>
    <%= cour.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= cour.content %>
  </p>

  <div>
    <%= link_to image_tag(cour.thumbnail, style:"width:500px;height:auto"), cours_path if cour.thumbnail.present? %>
  </div>

  <div>
    <%= video_tag url_for(cour.video), :controls => true, style:"width:500px;height:auto" if cour.video.video?%>
  </div>

</div>
