<div class="" style="">
  <p style="color: green"><%= notice %></p>

  <h1>
    <%= link_to "New cour", new_cour_path, class:"btn btn-outline-primary" %>
  </h1>
  <div id="cours">
    <main style="">
      <div class="container marketing" style="margin-top:2%;">
        <hr class="featurette-divider">
        <% @cours.each do |cour| %>
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1"><%= cour.title %><span class="text-body-secondary"> Prix: €80.00.</span></h2>
              <p class="lead"><%= cour.description %></p>
              <%= link_to "Voir +", cour, class:"btn btn-warning mt-auto m-2", style:"" %> 
              <%= link_to "Panier", "#", class:"btn btn-danger mt-auto m-2", style:"" %> 
            </div>
            <div class="col-md-5">
              <%= image_tag cour.thumbnail, class:"card-img-top", alt:"..." if cour.thumbnail.present? %>
              <div class="text-start">
              </div>
            </div>
          </div>
          <hr class="featurette-divider mb-4">
        <% end %>
      </div>

  <!-- Related items section-->
  <%# <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
      <% @cours.each do |cour| %>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <!--img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." / -->
            <%#= image_tag cour.thumbnail, class:"card-img-top", alt:"..." if cour.thumbnail.present? %>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Fancy Product</h5>
                <!-- Product price-->
                $40.00 - $80.00
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer py-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <!--a class="btn btn-outline-dark mt-auto mx-2" href="#">Voir +</a-->
                <%= link_to "Voir +", cour, class:"btn btn-outline-dark mt-auto m-2", style:"" %> 
                <%= link_to "Panier", "#", class:"btn btn-outline-dark mt-auto m-2", style:"" %> 
                <!--a class="btn btn-outline-dark mt-auto" href="#">Panier</a -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      
      
    </div>
  </section> %>

    <!--div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
      <% #@cours.each do |cour| %>
        <div class="card" style="width: 25rem; margin:2%;padding:0%; border: 3px solid #FF7733;border-top-left-radius: 2%;border-top-right-radius: 2%;">
		      <%#= image_tag(cour.thumbnail, style:"width:auto;height:auto;", class:"card-img-top", alt:"...") if cour.thumbnail.present? %>
          <div class="card-body">
            <h5 class="card-title"><%#= cour.title %></h5>
            <p class="card-text"><%#= cour.description %></p>
            <div class="d-flex justify-content-between">
              <%#= link_to "Voir plus...", cour, class:"btn btn-outline-primary", style:"" %> 
              <span class="fw-bold text-decoration-underline" style="border-top: 2px solid #FF7733;font-size:2rem;">89€</span>
            </div>
          </div>
        </div>
          <%#= render cour %>
      <%# end %>
    </div>
    </div-->
  </div>
</div>
