<div class="" style="">
  <p style="color: green"><%= notice %></p>

  <h1>
    <%= link_to "New cour", new_cour_path, class:"btn btn-outline-primary" %>
  </h1>

  
    <div id="cours">
    <div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
      <% @cours.each do |cour| %>
        <div class="card" style="width: 25rem; margin:2%;padding:0%; border: 3px solid #FF7733;border-top-left-radius: 2%;border-top-right-radius: 2%;">
		      <%= image_tag(cour.thumbnail, style:"width:auto;height:auto;", class:"card-img-top", alt:"...") if cour.thumbnail.present? %>
          <div class="card-body">
            <h5 class="card-title"><%= cour.title %></h5>
            <p class="card-text"><%= cour.content %></p>
            <div class="d-flex justify-content-between">
              <%= link_to "Voir plus...", cour, class:"btn btn-outline-primary", style:"" %> 
              <!--a href="#" class="btn btn-outline-primary" style="">Voir +</a-->
              <span class="fw-bold text-decoration-underline" style="border-top: 2px solid #FF7733;font-size:2rem;">89€</span>
            </div>
          </div>
        </div>
          <%#= render cour %>
      <% end %>
    </div>
    </div>
    </div>
</div>
