<p style="color: green"><%= notice %></p>

<h1><%= link_to "Ajouter un produit", new_product_path, class:"link-orange link-offset-2 link-underline-opacity-100-hover" %></h1>


<div class="p-3" id="products">

  
    <%#= render product %>
      <%#= link_to "Show this product", product %>
  <%# end %>


  <!-- Related items section-->
  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
        <% @products.each do |product| %>
          <div class="col mb-5">
            <div class="card h-100" style="border-bottom: 5px solid orange;">
              <!-- Product image-->
              <!--img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." / -->
              <%= image_tag product.thumbnail, class:"card-img-top", alt:"..." if product.thumbnail.present? %>
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder"><%= product.title %></h5>
                  <!-- Product price-->
                  €<%= product.price %>
                  <p><%= product.description %></p>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer py-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <!--a class="btn btn-outline-dark mt-auto mx-2" href="#">Voir +</a-->
                  <%= link_to "Voir +", product, class:"btn btn-outline-dark mt-auto m-2", style:"" %> 
                  <%#= link_to "Panier", cart_path, class:"btn btn-outline-dark mt-auto m-2", style:"" %> 
                  <%= form_with(url: cart_add_path) do |f| %>
                    <%= f.hidden_field :id, value: product.id %>
                    <%= f.hidden_field :quantity, value:1, min: 1, max: 1 %>
                    <%= f.submit "Ajouter au panier", class:"btn btn-outline-dark mt-auto m-2" %>
                  <% end %>
                  <!--a class="btn btn-outline-dark mt-auto" href="#">Panier</a -->
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
      
    </div>
  </section>


</div>

